<div class="blog-tags">
  {{/* --- RECENT POSTS --- */}}
  <h4 style="border-bottom: 1px solid rgb(31, 31, 50)" data-aos="fade-up" data-aos-duration="1000">
    Recent Posts
  </h4>
  <div class="taxonomy-list" data-aos="fade-up" data-aos-duration="1000">
    {{ $recent_posts := where site.RegularPages "Section" "blog" | first 3 }}
    {{ range $recent_posts }}
      <a href="{{ .Permalink }}" class="taxonomy-button" data-aos="fade-up" data-aos-duration="1000">
        {{ .Title }}
      </a>
    {{ end }}
  </div>

  {{/* --- CATEGORIES --- */}}
  <h4 style="margin: 60px 0 36px 0; border-bottom: 1px solid rgb(31, 31, 50);" data-aos="fade-up" data-aos-duration="1000">
    Categories
  </h4>
  <div class="taxonomy-list" data-aos="fade-up" data-aos-duration="1000">
    {{ range $category, $pages := site.Taxonomies.categories }}
      {{ $url := printf "/categories/%s/" ($category | urlize) }}
      <a href="{{ $url | relLangURL }}" class="taxonomy-button">
        {{ $category | humanize }} ({{ len $pages }})
      </a>
    {{ end }}
  </div>

  {{/* --- TAGS --- */}}
  <h4 style="margin: 60px 0 36px 0; border-bottom: 1px solid rgb(31, 31, 50);" data-aos="fade-up" data-aos-duration="1000">
    Tags
  </h4>
  <div class="taxonomy-list" data-aos="fade-up" data-aos-duration="1000">
    {{ range $tag, $pages := site.Taxonomies.tags }}
      {{ $url := printf "/tags/%s/" ($tag | urlize) }}
      <a href="{{ $url | relLangURL }}" class="taxonomy-button">
        {{ $tag | humanize }} ({{ len $pages }})
      </a>
    {{ end }}
  </div>
</div>