<div class="hero-brand mtb-192">
  <div class="container">
    <div class="row">
  <div class="col-md-12">
        <p class="text-center">Used by Developers at</p>
        <ul>
          <li><a href="#"><img src="{{ `/img/brand/1.png` | relURL }}" alt="brand" loading='lazy'/></a></li>
          <li><a href="#"><img src="{{ `/img/brand/2.png` | relURL }}" alt="brand" loading='lazy'/></a></li>
          <li><a href="#"><img src="{{ `/img/brand/3.png` | relURL }}" alt="brand" loading='lazy'/></a></li>
          <li><a href="#"><img src="{{ `/img/brand/4.png` | relURL }}" alt="brand" loading='lazy'/></a></li>
          <li><a href="#"><img src="{{ `/img/brand/5.png` | relURL }}" alt="brand" loading='lazy'/></a></li>
          <li><a href="#"><img src="{{ `/img/brand/6.png` | relURL }}" alt="brand" loading='lazy'/></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
