<!--=======================================================
                          HEAD
=======================================================-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{ `favicon.ico` | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ `apple-touch-icon.png` | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ `favicon-32x32.png` | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ `favicon-16x16.png` | relURL }}">
<link rel="manifest" href="{{ `site.webmanifest` | relURL }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partial "head/analytics.html" . }}