{{ define "main" }}
  <!--=======================================================
                        HERO
  =========================================================-->
  <div class="hero-area">
    <div class="container">
      <div data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">
              {{ .Title }}
            </h1>
            <div class="mx-850 text-center">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=======================================================
                          INTEGRATIONS
  =========================================================-->
  <div class="feature-area mt-192">
    <div class="container">
      <div class="row">
        <!--
        <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
          <h2 class="title-2">Powerful <span>Integrations</span></h2>
        </div>
        -->
      </div>
      <div class="row gy-4">
        {{/* Check if the integrations data file exists */}}
        {{ if site.Data.integrations }}
          {{/* Loop through each item in data/integrations.yaml */}}
          {{ range site.Data.integrations }}
          <div class="col-md-4">
            <div class="feature-item" data-aos="fade-up" data-aos-duration="1000">
              <div class="icon-circle">
                <i class="{{ .icon }}"></i>
              </div>
              <h3>{{ .title }}</h3>
              <p>{{ .text }}</p>
              <a href="{{ .url }}" class="btn btn-secondary">Learn More</a>
            </div>
          </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <!--=======================================================
                          BRAND
  =========================================================-->
  {{/* partial "logo-marquee.html" . */}}

  <!--=======================================================
                          NEWSLETTER
  =========================================================-->
  {{/* partial "ready-section.html" . */}}
{{ end }}
