{{ define "main" }}
  <!--=======================================================
                        HERO
  =========================================================-->
  <div class="hero-area">
    <div class="container">
      <div data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">
              {{ .Title }}
            </h1>
            <div class="mx-850 text-center">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--=======================================================
                        PLAYGROUND
  =========================================================-->
  <div class="container">
    <div class="row">
      <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
        <div class="ready-section" style="margin: 100px 0;">
          <h2 class="title-2">We're <span>Building</span> Something <span>Amazing</span></h2>
          <p>
            Our Playground is getting a major upgrade to give you an even better experience.
          </p>
          <p>
            We're working hard to make it worth the wait! While you're waiting, please explore these resources to start your journey.
          </p>

          <div class="hero-btn">
            <div data-aos="fade-up" data-aos-duration="1000" class="aos-init aos-animate">
              <a href="https://docs.memmachine.ai/getting_started" class="btn btn-primary mx-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">Read the Docs
              </a>
              <a href="https://discord.gg/usydANvKqD" class="btn btn-primary mx-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">Let's Chat on Discord
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{{ end }}
