{{ define "main" }}
  <!--=======================================================
                        HERO
  =========================================================-->
  <div class="hero-area">
    <div class="container">
      <div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">
              {{ .Title }}
            </h1>
            <div class="mx-850 text-center">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--=======================================================
                        PLAYGROUND
  =========================================================-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ready-section" style="margin: 100px 0;">
          <h2 class="title-2">How to Use the <span>MemMachine Playground</span></h2>
          <p class="mx-auto" style="max-width: 800px; line-height: 1.8;">To get started with the MemMachine Playground, follow these simple steps.</p>      
          <ol class="list-decimal text-left mx-auto" style="max-width: 800px; line-height: 1.8;">
            <li class="mb-5">
              <p>Click the "Go to Playground" button.</p>
              <div class="hero-btn mt-12">
                <div>
                  <a href="https://huggingface.co/spaces/Memverge/MemMachine-Playground" class="btn btn-primary mx-2" style="background-color: #5d5dd4;" target="_blank">Go to Playground</a>
                </div>
              </div>
            </li>
            <li class="mb-5">
              <p>On the left, enter your Hugging Face API Token/Key to login. Your token must have READ access.</p>
            <img src="/img/HuggingFacePlaygroundAuth.png" alt="Hugging Face Authentication Token" style="width: 100%; max-width: 400px; margin-top: 10px; border-radius: 8px;" loading="lazy">
            </li>
            <li class="mb-5">
              <p>Select a model from the dropdown</p>
            </li>
            <li class="mb-5">
              <p>Select "Compare with MemMachine"</p>
            </li>
            <li class="mb-5">
              <p>Continue chatting and start new sessions. You will notice the <span class="highlight-text-gradient">Control</span> model forgets everything from the previous session(s), whereas the <span class="highlight-text-gradient">MemMachine</span> model retains context and information from all prior sessions.</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{{ end }}