{{ define "main" }}
  <!--=======================================================
                        HERO
  =========================================================-->
  <div class="hero-area p-96">
    <div class="container">
  <div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">
              {{ .Data.Singular | humanize }}:
              <span>{{ .Title }}</span>
            </h1>
            <p class="mx-850 text-center">
              {{ .Content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--=======================================================
                        INSIGHTS
  =========================================================-->
  <div class="insights-area">
  <div class="container">
      <div class="insight-cards pt-96">
        <div class="row">
          {{/* Loop through the pages for this term and render a card for each */}}
          {{ range .Paginator.Pages }}
            {{ partial "blog-card.html" . }}
          {{ end }}
        </div>
      </div>
      {{/* Render pagination links */}}
      <div class="load-btn">
          {{ partial "pagination.html" . }}
      </div>
    </div>
  </div>

  <!--=======================================================
                        NEWSLETTER
  =========================================================-->
  {{ partial "ready-section.html" . }}

{{ end }}
